<div class='container' style='float: right;'>
  <form action='/' id="statusform" action='get' >
    <select class='form-select-sm' name="status" id="status" form="statusform">
      <option value="">Filter by Status</option>
      <option value="pendin">Pending</option>
      <option value="active">Active</option>
      <option value="sold">Sold</option>
      <option value="failed">Failed</option>
    </select>
    <input class='btn btn-dark btn-sm' type="submit" value='Apply Filter' style='inline;'>
  </form>
</div>
<hr>
